@model Transaccion
@{
    ViewData["Title"] = "Crear Transaccion";
}
<h1>Creación de Transacciones</h1>

<form asp-controller="Transaccion" asp-action="Crear">
    <div class="mb-3">
        <label asp-for="FechaTransaccion" class="form-label"></label>
        <input type="date" asp-for="FechaTransaccion" class="form-control" />
        <label asp-for="Monto" class="form-label"></label>
        <input asp-for="Monto" class="form-control" />
        <label asp-for="Nota" class="form-label"></label>
        <textarea asp-for="Nota" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <a class="btn btn-secondary" asp-action="Listar">Cancelar</a>
</form>
