@model IEnumerable<Transaccion>

@{
    ViewData["Title"] = "Listar Transacciones";
}

<h1>Lista de Transacciones</h1>

<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th>Fecha Transaccion</th>
            <th>Monto</th>
            <th>Nota</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaccion in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="Editar" asp-route-id="@transaccion.Id">Editar</a>
                </td>
                <td>
                    @transaccion.FechaTransaccion
                </td>
                <td>
                    @transaccion.Monto
                </td>
                <td>
                    @transaccion.Nota
                </td>
            </tr>
        }
    </tbody>
</table>
